*{
    margin:0;
    padding:0;
}
:root{
    --main-bg-color: rgb(88, 88, 255);
}
html{
     background-color: rgba(0, 0, 0, 0);
}
body{
    background: url('https://github.com/Bhavik-1729/Clock/blob/main/bg.jpg') no-repeat;
    background-size: 100%;
    position: relative;
}

.red{
    background-color: red;
    background: url('https://github.com/Bhavik-1729/Clock/blob/main/stage.jpg') no-repeat;
    background-size: 111%;
    height: 100%;
    position: fixed;
    z-index: 4;
    bottom: 0%;
    /* border: 2px solid black; */
    width: 100%;
    animation: prog 10s ease-in 5s 1 forwards;
}
.nam{
    font-size:12rem;
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 4;
    top:35%;
    cursor: pointer;
    left:6%;
    animation: btn 9s ease 2s 1 forwards;
}
.nam:active{
     color: grey;
}
.clock{
    margin: 3% auto 3% auto;
    background-image: url('https://github.com/Bhavik-1729/Clock/blob/main/clock.png');
    height: 40vw;
    width: 40vw;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.analog
{
    position: relative;
}
#hour, #minute, #second{
    background-color: black;
    position: absolute;
    border-radius: 5.1vw;
    transform-origin: bottom;
}
#hour{
    height: 23%;
    width: 1.8%;
    top: 26.8%;
    left: 48.9%; 
}
#minute{
    height: 30%;
    width: 1.7%;
    top: 20%;
    left: 48.9%;
}
#second{
    height: 38%;
    width: 0.8%;
    top: 12%;
    left: 49.4%;
}

@keyframes btn {
    0%{
        font-size: 12rem;
        left:6%;
        
    }
    100%{
        font-size: 3rem;
        left:3%;
        
    }
}
@keyframes prog {
    from{
       bottom: 0%;
    }
    to{
        bottom: 110%;
    }
}
.mo{
    /* background-color: blue; */
    color: white;
    width: 100vw;
    overflow: hidden;
    height: 3.5vh;
    position: absolute;
    top: 99%;
}
.move{
    height:3.5vh;
    width: 100vw;
    position: absolute;
    right: -100%;
    overflow: hidden;
    animation: mov 25s ease 1s infinite forwards;
    font-size: xx-large;
}
@keyframes mov {
    from{
        right:-100%;

    }
    to{
        right:90%;
    }
}
